// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .v-grid-row-selected > .v-grid-cell {
    background-color: #93B5D5;
    /*background-image: -webkit-linear-gradient(top, #AD5D5E 2%, #AD5D5E 98%);*/
    /*background-image: linear-gradient(to bottom,#AD5D5E 2%, #AD5D5E 98%);*/
    background-image: none;
    color: #FDFDFD;
    text-shadow: none;
    border: none;
}

  .v-button:focus:after {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }


  h1{
    font-size:24px;
    font-family: Verdana,Geneva,sans-serif;
    font-weight: bold;
    color: #2F3535;
    padding: 0px;
    margin: 12px;
  }
  h2{
    font-size:18px;
    font-family: Verdana,Geneva,sans-serif;
    font-weight: normal;
    color: #2F3535;
    padding: 0px;
    margin: 12px;
  }
h6{
  font-size:16px;
  font-family: Verdana,Geneva,sans-serif;
  font-weight: normal;
  color: #F9F9F9;
  padding: 0px;
  margin: 0px;
}


  .v-button {
    color: #F9F9F9;
    background-color: #AD5D5E;
    background-image: none;
    font-size:16px;
    font-family: Verdana,Geneva,sans-serif;
    position: relative;
    text-align: center;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    border:none;
  }

  .v-button:hover {
    background-color: #9b5757;

    border:none;
  }
  .v-button:focus {
    background-image: none;
    background-color: #AD5D5E;
    outline: none;
    border:none;
  }

  .v-button:active {
    background-image: none;
    background-color: #AD5D5E;
    outline: none;
    border:none;
  }



  .v-button-alphabutton {
    color: #F9F9F9;
    background-color: #AD5D5E;
    background-image: none;
    font-size:16px;
    font-family: Verdana,Geneva,sans-serif;
    position: relative;
    text-align: center;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    border:none;
  }

  .v-button-plainbutton {
    color: #F9F9F9;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    font-size:16px;
    font-family: Verdana,Geneva,sans-serif;
    position: relative;
    text-align: center;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    border:none;
    height: inherit;
  }

  .v-button-tinybutton {
    color: #AD5D5E;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    font-size:16px;
    font-family: Verdana,Geneva,sans-serif;
    position: relative;
    text-align: center;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    border:none;
    height: 40px;
    width: 20px;
    vertical-align: middle;
    padding-left: 8px;
    padding-right: 22px;
  }

  .v-button-tinybutton:hover {
    background-color: transparent;
    color: #AD5D5E;
  }

  .v-button-tinybutton:focus {
    background-color: transparent;
    color: #AD5D5E;
  }
  .v-button-tinybutton:active {
    background-color: transparent;
    color: #AD5D5E;
  }

  .v-verticallayout-background {
    background: #F9F9F9;
  }
 
 .spacer{
 	margin-top: 12px;
 }

  .topbar{
    font-family: Verdana,Geneva,sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #AD5D5E;
    color: #F9F9F9;
    margin-bottom: 30px;
  }


  .v-formlayout-formBackground {
    background: #F9F9F9;
  }

  .v-window-header-windowHeader {
    background: #F9F9F9;
    color: #101920;
    font-family: Verdana,Geneva,sans-serif;
  }

  .v-table .v-selected[class*="-row"] {
    background-color: #AD5D5E;
    background-image: none;
    background-origin: border-box;
    color: #AD5D5E;
  }
  // Insert your own theme rules here
}
